@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-darkBg text-white antialiased min-h-screen font-sans;
  }
}

/* Custom scrollbar for columns */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: rgba(30, 41, 59, 0.5); 
}
::-webkit-scrollbar-thumb {
  background: #475569; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #64748b; 
}
